<div class="form-group">
    <div class="row">
        <div class="col-6">
            <label class="col-12"> Prestamos totales </label>
            <label class="col-12"> 5656 </label>
        </div>
        <div class="col-6">
            <label class="col-12"> Valor total prestamos</label>
            <label class="col-12"> 56565 </label>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label class="col-12"> Aprobados</label>
            <label class="col-12"> 5656 </label>
        </div>
        <div class="col-6">
            <label class="col-12"> Valor total aprobados</label>
            <label class="col-12"> 56565 </label>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label class="col-12"> Rechazados</label>
            <label class="col-12"> 5656 </label>
        </div>
        <div class="col-6">
            <label class="col-12"> Valor total rechazados</label>
            <label class="col-12"> 56565 </label>
        </div>
    </div>
</div>