<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <h3>
            <fa-icon class="d-inline-block align-top" [icon]="['fas','money-bill-wave']"></fa-icon>
            Prestamos
        </h3>
    </a>
    <!-- <div class="form-inline">
        <label class="label mr-sm-2" style="color:white; font-weight: bold">
            Saldo total disponible
            <br>
            ${{totalAvailable | number}}
        </label>
    </div> -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>