<div class="jumbotron align-middle text-center">
  <div class="form-group">
    <div class="row">
      <div class="col-12">
        <div class="btn-group btn-group-lg">
          <button class="btn btn-primary" (click)="clickNewCredit()">
            <fa-icon class="d-inline-block align-top" [icon]="['fas','hand-holding-usd']"></fa-icon>
            Nuevo prestamo
          </button>
          <button class="btn btn-secondary"  (click)="clickList()">
            <fa-icon class="d-inline-block align-top" [icon]="['fas','search-dollar']"></fa-icon>
            Consultar prestamos
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<base-amount>
</base-amount>