<div class="form-group">
  <div class="row">
    <div class="offset-sm-0 offset-md-2 col-sm-12 col-md-8">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header">
              <h3>
                Consulta de prestamos
              </h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input type="text" class="form-control" [(ngModel)]="search" placeholder="Buscar" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <item-list [data]="item" *ngFor="let item of listItems | filter:{name: search}"></item-list>
      </div>
    </div>
  </div>
</div>
<base-amount>
</base-amount>