<div class="row" style="border: solid #607D8B 2px;margin-bottom:10px;">
  <div class="col-sm-1 btn-group" style="padding-left: 0px">
    <button class="btn btn-primary" title="Realizar pago">
      <fa-icon class="d-inline-block align-top" [icon]="['fas','dollar-sign']"></fa-icon>
    </button>
    <button class="btn btn-secondary" title="Historial de prestamos">
      <fa-icon class="d-inline-block align-top" [icon]="['fas','list-alt']"></fa-icon>
    </button>
  </div>
  <div class="col-sm-5">
    <label class="label">{{data.name}}</label>
  </div>
  <div class="col-sm-5">
    <label class="label">$7878</label>
  </div>
  <div class="col-sm-1" style="padding-right: 0px">
      <fa-icon class="d-inline-block align-top" [icon]="['fas','check-circle']"></fa-icon>
  </div>
</div>